* {
  box-sizing: border-box;
  padding: 0px;
}

#wrapper {
  border: 3px solid red;
}

.nav-wrapper {
  border: 3px solid black;
  position: relative;
  text-align: center;
}

.nav-wrapper li{
  list-style-type: none;
  display: inline-block;
  border: 3px solid blue;
  width: 30%;
  text-align: center;
  position: relative;
}

.about-wrapper, .team-wrapper, .contact-wrapper {
  border: 3px solid green;
  text-align: center;
}

.logo-wrapper {
  border: 3px solid orange;
  width: 50%;
  height: auto;
  position: relative;
  margin: auto;
  overflow: hidden;
  padding: 0;
}

.logo-wrapper img {
  width: 100%;
  height: auto;
  margin: auto;
  display: inline-block;
}

.profileArticle {
  border: 3px solid black;
  text-align: center;
}

.hiba, .edgar, .lawson {
  width: 200px;
  height: 200px;
  border: 3px solid pink;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  margin: auto;

}

.hiba img {
  width:150%;
  height: auto;
  margin: auto;
  position: relative;
  right: 50px;
  transform: rotate(270deg);
  display: inline-block;
}

.edgar img {
  width: 100%;
  margin-right: 200px;
}

.lawson img {
  width: 100%;
}
